  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<dl class="user-info form-list">
  <fieldset>
    <legend><%= _('Edit User Information') %></legend>

    <dt><%= f.label :given_name %></dt>
    <dd><%= f.text_field :given_name %></dd>

    <dt><%= f.label :family_name %></dt>
    <dd><%= f.text_field :family_name %></dd>

    <dt><%= f.label :email %></dt>
    <dd><%= f.email_field :email, {:required => true, :pattern => "[^ @]*@[^ @]*\.[^@]*", :placeholder => _("Your email address") }%></dd>
 

    <dt><%= f.label :password, f.object.new_record? ? nil : _("Change password") %></dt>
    <dd><%= f.password_field :password %></dd>

  </fieldset>
</dl>

