  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2>
			<%= 
			_('%s prevented you from joining our ranks:') % pluralize(@user.errors.count, "error") 
			%>
		</h2>
    <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ol>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :given_name %>
    <%= f.text_field :given_name %>
		<br/>
    <%= f.label :family_name %>
    <%= f.text_field :family_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>