<h1><%= _("Pay for your tickets for %s") % @event.name %></h1>
<p><%= _("Please review your order and choose a payment method.") %></p>
<fieldset>
<legend>Booking Details</legend>

<table>
  <thead>
    <th><%= _("Number of Tickets") %></th>
    <th><%= _("Ticket name") %></th>
    <th><%= _("Ticket price") %></th>
    <th><%= _("Total") %></th>
  </thead>
  <tbody>
    <% @desired_tickets.each do |k,t| 
      price = Money.new(t["price"])
      total = Money.new(t["total"])
  %>
    <tr>
      <td><%= t["number"] %></td>
      <td><%= t["name"] %></td>
      <td> <%= "%s %s" % [price.currency.symbol, price] %></td>
      <td><%= "%s %s" % [total.currency.symbol, total] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<dl>
  <dt><%= _('Order total:') %></dt>
  <dd><% ot = Money.new(@order_total) %>
  <%= "%s %s" % [ot.currency.symbol, ot] %></dd>
</dl>
</fieldset>

<fieldset>
<legend>Your Details</legend>
<dt>User ID</dt><dd><%= @user.id %></dd>
<dt>Name</dt><dd><%= @user.given_name %> <%= @user.family_name %></dd>
<dt>Email</dt><dd><%= @user.email %></dd>
</fieldset>

<fieldset>
<legend>Pay for your tickets</legend>
<ul>
  <li><strong>Option 1: </strong><%= link_to image_tag('/images/paypal_btn.gif', :alt=>'Pay now using PayPal'), event_registerpaypal_path %></li>
  <li><strong>Option 2: </strong><%= link_to _('Pay at Venue'), event_registerreserve_path %></li>
</ul>
</fieldset>

<% if @instructions.length > 0 %>
<div id="offline-payment-instructions">
  <h3><%= _("Pay at Venue") %></h3>
  <%= @instructions %>
</div>
<% end %>
