<!doctype html>  
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= SITE_NAME %></title>
  <meta name="description" content="<%= SITE_NAME %>">
  <meta name="author" content="Karin Muiznieks">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'style' %>
  <%-# stylesheet_link_tag 'handheld', :media=>'handheld' %>
  <%= stylesheet_link_tag 'grid' %>
  <%= stylesheet_link_tag 'formtastic' %>
  <%= stylesheet_link_tag 'formtastic_changes' %>
  <%= stylesheet_link_tag 'filthysecrets' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= stylesheet_link_tag 'jquery-ui-eggplant' %>
  <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
  
  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery-1.5.0.js"%3E%3C/script%3E'))</script>
  <%= javascript_include_tag 'libs/modernizr-1.6.min.js' %>
  <%= javascript_include_tag 'libs/jquery.html5_upload.js' %>
  <%= javascript_include_tag "date" %>

  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>

</head>

<body lang="en" >
  <div id="top_background"></div>
  <div id="container">
    <header>

    </header>
    
    <div id="main" role="main">
      <div class="row">
      	<div id="header" class="column grid_12">
      	 <h1><a href="/"><%= site_name %></a></h1>
        </div>
      </div>
<!--
      <div class="row">
        <div id="menu" class="column grid_12">
          <%-# render_navigation(:level=>1) %>
        </div>
      </div>
-->
      
      <div class="row">
        <div id="message" class="column grid_12">
          <% if flash[:notice] %>
            <p class="notice"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:error] %>
            <p class="error"><%= flash[:error] %></p>
          <% end %>
        </div>
      </div>

      <div class="row">
      </div>
      
      <div class="row" id="bodytop">
        <div class="column grid_12"></div>
      </div>
      
      <div class="row" id="body">
        <%= render :partial => "layouts/header" %>
        <%= yield %>
      </div>
      <div class="row" id="bodybottom">
        <div class="column grid_12"></div>
      </div>
    </div>
    
    <footer>

    </footer>
    <div id="bottom_background"></div>
  </div> <!--! end of #container -->

  <!-- JavaScript at the bottom for fast page loading -->
  
  <!-- scripts concatenated and minified via ant build script-->
  <%= javascript_include_tag 'plugins' %>
  <%= javascript_include_tag 'script' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'libs/jquery-ui-timepicker-addon' %>  
  
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="javascripts/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-21410428-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>